<p>
  this is index
</p>

<% @workouts.each do |workout| %>
<ul>
  <li><%= link_to "Edit #{workout.title}", edit_workout_path(workout) %></li>
  <li><%= link_to "Show #{workout.title}", workout_path(workout) %></li>
</ul>
<% end %>
