/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require components-font-awesome
 *= require_tree .
 *= require_self
 */

h1 {
  text-align: center;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 3.3em;
  color: #41454E;
}
.devise-form {
  padding: 2% 0 0 3%;
  margin-left: 38%;
  box-shadow: 10px 10px 25px #888;
  border-style: groove;
  width: 25%;
}

.workout-form {
  padding: 2% 0 0 3%;
  margin-left: 25%;
  box-shadow: 10px 10px 25px #888;
  border-style: groove;
  width: 50%;
}

.workout-show {
  padding: 0 0 0 3%;
  margin-left: 30%;
  box-shadow: 10px 10px 25px #888;
  border-style: groove;
  width: 40%;
}

.newcat a {
  color: white;
}

a {
  font-size: 1.2em;
}

body {
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

 .navbar {
   background: #4B79A1; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   height: 60px;
 }

 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
   background: #4B79A1; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 .navbar .nav > li > a {
   color: white;
   font-size: 1.2em;
 }

 .navbar .navbar-brand {
   color: white;
   font-size: 1.2em;
 }

 .navbar .navbar-toggle {
   background-color: white;
 }

 @media(max-width:767px) {
   .workout-form {
     margin-left: 0;
   }

   h1 {
     text-align: left;
   }
   .devise-form {
     margin-left: 0;
     width: 50%;
   }
   .workout-show {
     padding: 0 0 0 3%;
     margin-left: 5%;
     box-shadow: 10px 10px 25px #888;
     border-style: groove;
     width: 90%;
   }
}

input[type="submit"] {
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  width: 130px;
  border-radius: 15px;

}
