/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require components-font-awesome
 *= require_tree .
 *= require_self
 */

.workout-form {
  padding: 2% 0 0 3%;

}

body {
  background: #E0EAFC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

 .navbar {
   background-color: #0099FF;
 }

 .navbar .nav > li > a {
   color: white;
 }

 .navbar .navbar-brand {
   color: white;
 }

 .navbar .navbar-toggle {
   background-color: white;
 }
