<h1>category index page</h1>

<% @categories.each do |category| %>
  <ul>
    <li><%= link_to "Edit #{category.title}", edit_category_path(category) %></li>
    <li><%= link_to "View #{category.title}", category_path(category) %></li>
  </ul>
<% end %>
